#main-slider .swiper-container {
  width: 100%;
  height: 60vh;
  margin: 0;
  overflow: hidden;
}
@media (max-width: 401px) {
  #main-slider .swiper-container {
    height: 100vh;
    margin: 20px -15px 20px -15px !important;
    width: 100vw;
  }
  #main-slider .swiper-container .swiper-button-next {
    opacity: .3;
    right: -15px;
    -webkit-transition: right ease 0.3s, opacity ease 0.3s;
    -moz-transition: right ease 0.3s, opacity ease 0.3s;
    -o-transition: right ease 0.3s, opacity ease 0.3s;
    transition: right ease 0.3s, opacity ease 0.3s;
  }
  #main-slider .swiper-container .swiper-button-prev {
    opacity: .3;
    left: -15px;
    -webkit-transition: left ease 0.3s, opacity ease 0.3s;
    -moz-transition: left ease 0.3s, opacity ease 0.3s;
    -o-transition: left ease 0.3s, opacity ease 0.3s;
    transition: left ease 0.3s, opacity ease 0.3s;
  }
  #main-slider .swiper-container:hover .swiper-button-next,
  #main-slider .swiper-container:active .swiper-button-next {
    opacity: 1;
    right: 10px;
  }
  #main-slider .swiper-container:hover .swiper-button-prev,
  #main-slider .swiper-container:active .swiper-button-prev {
    opacity: 1;
    left: 10px;
  }
}
#main-slider .swiper-slide {
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 60px;
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}
@media (min-width: 768px) {
  #main-slider .swiper-slide {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #main-slider .swiper-slide {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  #main-slider .swiper-slide {
    max-width: 1170px;
  }
}
#main-slider .swiper-slide h3 {
  color: #1d3d86;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#main-slider .swiper-slide p {
  font-size: 1.2rem;
  padding: .8rem 0;
}
#main-slider .swiper-slide.swiper-slide-prev,
#main-slider .swiper-slide.swiper-slide-next {
  opacity: .5;
}
@media (max-width: 401px) {
  #main-slider .swiper-slide {
    padding: 10px 15px 50px 15px;
  }
  #main-slider .swiper-slide h3 {
    color: #1d3d86;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  #main-slider .swiper-slide p {
    font-size: 1rem;
    padding: .2rem 0;
  }
}
#main-slider #main-fast-contacts {
  background: #1d3d86 url('images/contact-bg.png') top no-repeat;
  color: #fff;
  padding: 20px;
  min-height: 60vh;
}
#main-slider #main-fast-contacts h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1rem;
}
#main-slider #main-fast-contacts a {
  color: #fff;
}
#main-slider #main-fast-contacts a.phone {
  display: block;
  font-size: 1.8rem;
  padding: .6rem 0;
}
#main-slider #main-fast-contacts .phone-title {
  font-size: 1rem;
  display: block;
}
#main-slider #main-fast-contacts .reception {
  background: #142a5c;
  border: 1px solid #fff;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: .5rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
#main-links {
  background: #eee;
}
#main-links .main-links-row {
  padding-bottom: 20px;
}
#main-links .main-links-row h2 {
  border-bottom: 1px solid #1d3d86;
  color: #1d3d86;
  font-weight: bold;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: .6rem;
  margin-bottom: 1rem;
}
#main-links .main-links-row h2 strong {
  vertical-align: text-top;
}
#main-links .main-links-row h2 i {
  color: #1d3d86;
  font-size: 2rem;
  margin-right: 1rem;
}
#main-links .main-links-row ul li {
  margin: .6rem 0;
  padding-left: 1.6rem;
}
#main-links .main-links-row.first {
  background: #1d3d86;
  color: #fff;
}
#main-links .main-links-row.first h2 {
  border-bottom: 1px solid #fff;
  color: #fff;
}
#main-links .main-links-row.first h2 i {
  color: #fff;
}
#main-links .main-links-row.first ul > li > a {
  color: #fff;
}
#main-story {
  padding: 20px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
#main-story .person {
  margin-bottom: 20px;
}
#main-story .person:before {
  content: " ";
  display: table;
}
#main-story .person:after {
  content: " ";
  clear: both;
  display: table;
}
#main-story .person .photo-wrapper {
  float: left;
  position: relative;
  min-height: 1px;
  width: 100px;
}
#main-story .person .photo {
  overflow: hidden;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#main-story .person .photo img {
  background-size: cover;
  background-position: center;
  margin: 0 20px 10px 0;
  width: 80px;
}
#main-story .person .description {
  position: relative;
  margin-left: 100px;
  min-height: 1px;
}
#main-story .person h3 {
  font-size: 2rem;
}
#main-story .person h4 {
  font-size: 1.6rem;
}
#main-story .text {
  color: #777;
  display: block;
  float: none;
}
#main-story .button.more {
  border: 1px solid #1d3d86;
  color: #1d3d86;
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 2rem;
  max-width: 240px;
}
#main-story .button.more:hover {
  background: #1d3d86;
  color: #fff;
}
#feature-magazine {
  background: #fafafa;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-height: 500px;
  max-width: 300px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
#feature-magazine .magazine-preview {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
#feature-magazine p {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}
#main-featured-links {
  padding-top: 30px;
}
#main-featured-links .featured-link {
  display: block;
  padding-top: 1rem;
  margin-bottom: 2rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
#main-featured-links .featured-link .image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 100%;
}
#main-featured-links .featured-link .icon {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
}
#main-featured-links .featured-link h5 {
  text-align: center;
  padding: 1rem;
}
#main-featured-links .featured-link .overlay {
  background: #fff;
  display: inline-block;
}
#main-featured-links .featured-link:hover {
  background: #345092;
  color: #fff;
  text-decoration: none;
}
#main-featured-links .featured-link:hover h5 {
  text-decoration: none;
}
@media (max-width: 401px) {
  #main-featured-links .featured-link {
    padding-top: 0;
    margin-bottom: 1rem;
  }
  #main-featured-links .featured-link .image,
  #main-featured-links .featured-link .icon {
    display: none;
  }
}
#main-featured-links .gallery {
  background-image: url('/images/photos/main.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 2rem;
  height: 360px;
}
#main-featured-links .gallery .featured-link {
  padding-top: 140px;
  text-align: center;
  height: 360px;
  width: 100%;
  -webkit-transition: background ease 0.3s;
  -moz-transition: background ease 0.3s;
  -o-transition: background ease 0.3s;
  transition: background ease 0.3s;
}
#main-featured-links .gallery .overlay {
  padding: 5px 10px;
}
#main-featured-links .gallery:hover {
  color: #1d3d86;
  text-decoration: none;
}
#main-featured-links .gallery:hover .featured-link {
  background: rgba(52, 80, 146, 0.5);
}
#main-featured-links .gallery:hover h5 {
  color: #1d3d86;
  text-decoration: none;
}
#main-featured-links .wrap-zh {
  background: #fff;
  position: relative;
  z-index: 5;
}
#main-featured-links .wrap-shadow {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
#main-content .fake-bg-header {
  background: #eee;
  height: 60px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #d5d5d5;
  position: absolute;
  width: 100%;
  z-index: 0;
}
#main-content .container {
  position: relative;
  z-index: 1;
}
#main-news h2 {
  background: #eee;
  color: #000;
  height: 60px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 60px;
  padding-left: 20px;
  border-bottom: 4px solid #d5d5d5;
  margin-bottom: 20px;
}
#main-news article {
  border-bottom: 1px solid #999;
  display: table-row;
  position: relative;
  vertical-align: baseline;
  width: 100%;
}
@media (max-width: 700px) {
  #main-news article {
    display: block;
  }
}
#main-news article .left {
  background-image: url("images/mileline.png");
  background-position: top;
  background-repeat: repeat-y;
  display: table-cell;
  vertical-align: top;
  padding: 10px;
  height: 100%;
  width: 100px;
}
@media (max-width: 700px) {
  #main-news article .left {
    display: none;
  }
}
#main-news article .left .date {
  background: #fff;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 12px;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#main-news article .left .date small {
  display: block;
  font-size: 1rem;
}
#main-news article .left .more-news {
  background: #fff;
  color: #1d3d86;
  border: solid 6px #1d3d86;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 14px;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#main-news article .left .more-news small {
  display: block;
  font-size: 1rem;
}
#main-news article .content {
  display: table-cell;
  padding: 10px 20px;
  position: relative;
  text-align: justify;
  text-indent: 1rem;
  line-height: 125%;
  vertical-align: top;
  width: 100%;
}
@media (max-width: 700px) {
  #main-news article .content {
    padding: 10px 0;
  }
}
#main-news article .content hr {
  background: #eee;
  margin: 36px 0 0.6rem -73px;
  position: relative;
  height: 6px;
  z-index: -1;
}
#main-news article .content .news-header-link:hover {
  text-decoration: none;
}
#main-news article .content header.article-header {
  padding: 1.4rem 3rem 1.4rem 0;
  position: relative;
  margin: 0 0 .6rem 0;
  text-indent: 0;
}
#main-news article .content header.article-header h3 {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 100%;
}
#main-news article .content header.article-header.imaged {
  background-size: cover;
  background-position: center;
  padding: 0;
  text-align: left;
  height: 360px;
}
#main-news article .content header.article-header.imaged .overlay {
  padding: 1.4rem;
  height: 100%;
  width: 100%;
  -webkit-transition: background ease 0.25s;
  -moz-transition: background ease 0.25s;
  -o-transition: background ease 0.25s;
  transition: background ease 0.25s;
}
#main-news article .content header.article-header.imaged h3 {
  background: #fff;
  display: inline;
  line-height: 150%;
}
#main-news article .content header.article-header.imaged:hover .overlay {
  background: rgba(255, 255, 255, 0.5);
}
#main-news article .content header.article-header.imaged:hover h3 {
  color: #1d3d86;
  text-decoration: none;
}
#main-news article .content footer.article-footer {
  border-bottom: 1px solid #aaa;
  background: #eee;
  margin-top: 10px;
  padding: 10px;
}
@media (max-width: 700px) {
  #main-news article .content footer.article-footer {
    text-indent: 0;
  }
}
#main-news article .content footer.article-footer .mobile-date {
  color: #555;
  float: right;
}
@media (min-width: 701px) {
  #main-news article .content footer.article-footer .mobile-date {
    display: none;
  }
}
#main-news article:after {
  clear: both;
  font-size: 0;
  overflow: hidden;
}
#main-news article.first .left {
  padding: 0 10px 10px 10px;
}
#main-news article.first .left .date-wrapper {
  background: #fff;
  padding-top: 10px;
}
#main-news article.more-news:hover {
  background: #dde2ed;
}
#main-news article.more-news .left {
  padding: 0;
}
#main-news article.more-news .left .more-wrapper {
  background: #fff;
  padding: 0 10px 0 10px;
  width: 50%;
}
#main-news article.more-news .content {
  padding: 30px 20px;
}
@media (max-width: 700px) {
  #main-news article.more-news {
    background: #1d3d86;
    border: 1px solid #060d1d;
    color: #fff;
    text-shadow: 0 1px 0 #060d1d;
    margin-top: 15px;
    -webkit-box-shadow: inset 0 1px #566ea4;
    -moz-box-shadow: inset 0 1px #566ea4;
    box-shadow: inset 0 1px #566ea4;
    -webkit-border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 6px;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
  }
  #main-news article.more-news:hover {
    color: #1d3d86;
    text-shadow: none;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px #ffffff;
    -moz-box-shadow: inset 0 1px #ffffff;
    box-shadow: inset 0 1px #ffffff;
  }
  #main-news article.more-news .content {
    display: block;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
}
#main-events {
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 992px) {
  #main-events {
    margin-top: 30px;
  }
}
#main-events header {
  background: #ff6f51;
  color: #fff;
  height: 60px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 60px;
  border-bottom: 4px solid #ff451e;
}
#main-events header .text {
  margin-left: -15px;
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
@media (max-width: 401px) {
  #main-events header .text {
    font-size: 1rem;
  }
}
#main-events header .button {
  font-size: 2rem;
  text-align: center;
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 1;
}
#main-events header .button:hover {
  background: #ea2800;
  border-bottom: 4px solid #b72000;
}
#main-events header .button.swiper-button-disabled {
  color: #bbb;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
#main-events header .button.swiper-button-disabled:hover {
  background: transparent;
  border-bottom: none;
}
#main-events header .button-prev {
  float: left;
}
#main-events header .button-next {
  float: right;
}
#main-events .events-block {
  background: #6a1200;
  color: #fff;
  height: 400px;
  overflow: hidden;
  padding: 2rem 0;
}
#main-events .events-block .dates {
  margin-bottom: 1rem;
}
#main-events .events-block .dates .cal-icon {
  text-align: center;
}
#main-events .events-block .dates .dates-event p.start {
  font-size: 1.6rem;
}
#main-events .events-block .dates .dates-event p.only {
  font-size: 1.6rem;
  line-height: 3rem;
}
#main-events .events-block .dates .dates-event p.end {
  margin-top: 6px;
}
#main-events .events-block .dates i {
  font-size: 3rem;
}
#main-events .events-block .about {
  text-align: left;
  line-height: 1.27;
  padding: 0 15px;
}
#main-events .events-block .more-wrapper {
  padding: 30px 15px 0 15px;
}
#main-events .events-block .more-wrapper .more {
  background: #1e0500;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: .5rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.biw {
  font-size: 20px;
  font-weight: bold !important;
}
.biw .swiper-slide h3 {
  color: #000;
}
@media (max-width: 401px) {
  .biw .swiper-slide h3 {
    color: #000;
  }
}
.biw #main-fast-contacts {
  background: #fff;
  color: #000;
}
.biw #main-fast-contacts h1 {
  color: #000;
}
.biw #main-fast-contacts a {
  color: #000;
}
.biw #main-fast-contacts .reception {
  background: #fff;
  border: 1px solid #000;
}
.biw div#featured-links div.featured-link {
  color: #fff;
}
.biw div#featured-links div.featured-link .overlay h5 {
  background: #fff;
  color: #000;
}
.biw #main-links {
  background: #fff;
}
.biw #main-links .main-links-row h2 {
  border-bottom: none;
  color: #000;
}
.biw #main-links .main-links-row h2 i {
  color: #000;
}
.biw #main-links .main-links-row ul > li > a {
  color: #000;
}
.biw #main-links .main-links-row.first {
  background: #fff;
  color: #000;
}
.biw #main-links .main-links-row.first h2 {
  border-bottom: none;
  color: #000;
}
.biw #main-links .main-links-row.first h2 i {
  color: #000;
}
.biw #main-links .main-links-row.first ul > li > a {
  color: #000;
}
.biw #main-story .person .photo-wrapper {
  display: none;
}
.biw #main-story .person .description {
  position: static;
  margin-left: 0;
  min-height: 1px;
}
.biw #main-story .person h3 {
  font-size: 2rem;
}
.biw #main-story .person h4 {
  font-size: 1.6rem;
}
.biw #main-story .text {
  color: #000;
}
.biw #main-story .button.more {
  border: 1px solid #000;
  color: #000;
}
.biw #main-story .button.more:hover {
  background: #000;
  color: #fff;
}
.biw #feature-magazine {
  background: #fff;
  -webkit-border-radius: none;
  -webkit-background-clip: padding-box;
  -moz-border-radius: none;
  -moz-background-clip: padding;
  border-radius: none;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.biw #feature-magazine a {
  color: #000;
}
.biw #main-news article {
  border-bottom: 1px solid #000;
}
.biw #main-news article .left {
  display: none;
}
.biw #main-news article .content a {
  color: #000;
}
.biw #main-news article .content header.article-header {
  padding: 1.4rem 3rem 1.4rem 1rem;
  position: relative;
  margin: 0 0 .6rem 0;
  text-indent: 0;
}
.biw #main-news article .content header.article-header h3 {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 100%;
}
.biw #main-news article .content header.article-header.imaged:hover h3 {
  color: #1d3d86;
  text-decoration: none;
}
.biw #main-news article .content footer.article-footer {
  border-bottom: 1px solid #000;
  background: #fff;
}
.biw #main-news article .content footer.article-footer .mobile-date {
  color: #000;
  display: block;
}
.biw #main-news article.more-news {
  color: #000;
}
.biw #main-news article.more-news:hover {
  background: #000;
  color: #fff;
}
.biw #main-news article.more-news .left {
  padding: 0;
}
.biw #main-news article.more-news .left .more-wrapper {
  background: #fff;
  padding: 0 10px 0 10px;
  width: 50%;
}
.biw #main-news article.more-news .content {
  padding: 30px 20px;
}
@media (max-width: 700px) {
  .biw #main-news article.more-news {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .biw #main-news article.more-news:hover {
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
