@import "settings";

@import "index/slider";
@import "index/links";
@import "index/story";
@import "index/featured-links";
@import "index/news";
@import "index/events";

.biw{
  font-size: 20px;
  font-weight: bold !important;

  @import "index/biw/total";
}