header#main-header {
  background-color: #fff;
  background-image: url('images/photos/day.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
}
header#main-header #header-nav-bg-wrapper {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: -1;
}
header#main-header #header-nav-bg-wrapper #main-header-nav-bg {
  background-image: url('images/photos/blured/day.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
}
header#main-header nav#main-header-nav {
  background-color: #1d3d86;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header#main-header nav#main-header-nav > .impact > .container {
  padding: 0;
}
header#main-header nav#main-header-nav #top-logo {
  background: url("images/logos/only-name.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  height: 50px;
  width: 70px;
}
header#main-header nav#main-header-nav .header-nav-list {
  color: #fff;
  float: left;
  list-style: none;
  margin: 0;
}
@media (max-width: 700px) {
  header#main-header nav#main-header-nav .header-nav-list {
    display: none;
  }
}
header#main-header nav#main-header-nav .header-nav-list > li {
  display: inline-block;
  font-size: 17px;
  /*&.parent:hover, */
}
header#main-header nav#main-header-nav .header-nav-list > li.parent:hover,
header#main-header nav#main-header-nav .header-nav-list > li.parent.active {
  background: #eee;
  color: #1d3d86;
}
header#main-header nav#main-header-nav .header-nav-list > li:hover,
header#main-header nav#main-header-nav .header-nav-list > li.active {
  background: #fff;
}
header#main-header nav#main-header-nav .header-nav-list > li:hover > a,
header#main-header nav#main-header-nav .header-nav-list > li.active > a {
  color: #1d3d86;
}
header#main-header nav#main-header-nav .header-nav-list > li > a {
  color: #fff;
  display: block;
  padding: 0 20px;
}
header#main-header nav#main-header-nav .header-nav-list > li > a:hover {
  text-decoration: none;
}
header#main-header nav#main-header-nav .header-nav-list > li > a:hover .borderland {
  border-bottom: 3px solid #1d3d86;
}
header#main-header nav#main-header-nav .header-nav-list > li > a.active .borderland {
  border-bottom: 3px solid #1d3d86;
}
header#main-header nav#main-header-nav .header-nav-list > li > a .borderland {
  display: block;
  padding: 20px 0;
  border-bottom: 3px solid #fff;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper {
  display: none;
  left: 0;
  position: absolute;
  min-height: 400px;
  clip: rect(auto, auto, 1000px, auto);
  width: 100%;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu {
  background: #fff;
  min-height: 300px;
  padding: 0;
  overflow: hidden;
  max-height: 80vh;
  position: relative;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 2px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 {
  background: #eee;
  padding: .3rem 0;
  float: left;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  max-height: 80vh;
  max-width: 20%;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li {
  color: #1d3d86;
  display: block;
  position: relative;
  padding: .7rem 1rem;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li:hover,
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li.active {
  background: #fff;
  z-index: 5;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li ul.lvl-2 {
  display: none;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub {
  margin-left: 20%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  max-height: 80vh;
  height: 100%;
  width: 80%;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .default-message {
  color: #1d3d86;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  font-size: 3rem;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .nested-sub-block {
  background: #fff;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, -moz-transform 0.3s ease;
  -o-transition: opacity 0.3s ease, -o-transform 0.3s ease;
  transition: opacity 0.3s ease,-webkit-transform 0.3s ease,-moz-transform 0.3s ease,-o-transform 0.3s ease,transform 0.3s ease;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .nested-sub-block.up {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .nested-sub-block.down {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full {
  padding: .3rem 0;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full li {
  color: #1d3d86;
  display: block;
  position: relative;
  padding: .7rem 1rem;
}
header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full li:hover {
  background: #fff;
  z-index: 5;
}
header#main-header nav#main-header-nav .header-nav-list > li.parent.active .nesting-menu-wrapper {
  display: block;
}
header#main-header nav#main-header-nav #header-nav-open-button-wrap {
  position: relative;
  float: left;
  padding: .8rem 0 .8rem 20px;
  z-index: 10;
}
@media (min-width: 701px) {
  header#main-header nav#main-header-nav #header-nav-open-button-wrap {
    display: none;
  }
}
header#main-header nav#main-header-nav #header-nav-small-logo {
  background: url("images/logos/only-name.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  float: left;
  margin: .8rem 0 .8rem 0;
  height: 30px;
  width: 100%;
}
@media (min-width: 701px) {
  header#main-header nav#main-header-nav #header-nav-small-logo {
    display: none;
  }
}
header#main-header nav#main-header-nav #header-nav-open-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  position: relative;
  float: left;
  padding: .4rem 1rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
header#main-header nav#main-header-nav #header-search {
  color: #fff;
  float: right;
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 700px) {
  header#main-header nav#main-header-nav #header-search {
    display: none;
  }
}
header#main-header nav#main-header-nav #header-search i {
  padding: 16px 0 17px 0;
  position: absolute;
  right: 16px;
}
header#main-header nav#main-header-nav #header-search-input {
  background: bottom left linear-gradient(#ffffff, #ffffff) no-repeat, bottom center linear-gradient(#ffffff, #ffffff) repeat-x, bottom right linear-gradient(#ffffff, #ffffff) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 17px;
  padding: 20px 60px 15px 20px;
  width: 240px;
}
header#main-header nav#main-header-nav #header-search-input:focus {
  outline: none;
  background: bottom left linear-gradient(#ed7d1c, #ed7d1c) no-repeat, bottom center linear-gradient(#ed7d1c, #ed7d1c) repeat-x, bottom right linear-gradient(#ed7d1c, #ed7d1c) no-repeat;
  border-bottom: 2px solid #ED7D1C;
}
@media screen and (max-width: 1200px) {
  header#main-header nav#main-header-nav #header-search-input {
    display: none;
  }
}
header#main-header nav#main-header-nav #main-header-modes {
  float: right;
  padding: .8rem 20px .8rem 0;
  position: relative;
  z-index: 10;
}
header#main-header nav#main-header-nav #main-header-modes .mode {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  position: relative;
  float: right;
  padding: .4rem .7rem;
  margin-left: .7rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
header#main-header nav#main-header-nav #main-header-modes .mode i {
  padding: 0 3px;
}
header#main-header nav#main-header-nav #main-header-modes .mode:hover {
  background-color: #fff;
  color: #1d3d86;
}
header#main-header nav#main-header-nav #main-header-modes .mode.active ul {
  display: block;
}
header#main-header nav#main-header-nav #main-header-modes .mode ul {
  background-color: #fff;
  border: 1px solid #fff;
  display: none;
  color: #1d3d86;
  position: absolute;
  top: -1px;
  left: -1px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
header#main-header nav#main-header-nav #main-header-modes .mode ul li {
  padding: .4rem .7rem;
}
header#main-header nav#main-header-nav #main-header-modes .mode ul li:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 5px;
  -moz-background-clip: padding;
  border-top-right-radius: 5px;
  background-clip: padding-box;
}
header#main-header nav#main-header-nav #main-header-modes .mode ul li:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 5px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 5px;
  background-clip: padding-box;
}
header#main-header nav#main-header-nav #main-header-modes .mode ul li:hover {
  background-color: #1d3d86;
  color: #fff;
}
header#main-header.full {
  height: 100vh;
}
header#main-header.full #main-header-nav-bg {
  height: 100vh;
}
header#main-header.full div#main-header-landing {
  height: 100vh;
}
header#main-header.full div#main-header-landing .container {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 64px;
  height: 100vh;
  z-index: 2;
}
header#main-header.full div#main-header-landing .container h1 {
  font-size: 6vh;
  font-weight: 100;
  text-align: center;
  padding-bottom: 3vh;
}
header#main-header.full div#main-header-landing .container h2 {
  font-size: 4vh;
  font-weight: 300;
  text-align: center;
}
header#main-header.full div#main-header-landing .container p {
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
  width: 80%;
}
@media (min-width: 992px) {
  header#main-header.full div#main-header-landing .container p {
    width: 50%;
  }
}
header#main-header.full div#main-header-landing .container .button-wrapper {
  text-align: center;
  padding: 6vh 0 3vh 0;
}
header#main-header.full div#main-header-landing .container .header-button {
  border: 1px solid #fff;
  display: inline-block;
  padding: 3vh 3vw;
  margin: -1vh 0 0 -1vh;
  -webkit-box-shadow: 1vh 1vh 0 #ffffff;
  -moz-box-shadow: 1vh 1vh 0 #ffffff;
  box-shadow: 1vh 1vh 0 #ffffff;
}
header#main-header.full div#main-header-landing .container .header-button:hover {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks {
  background: #fff;
  bottom: 0;
  color: #000;
  font-size: 1.6rem;
  text-shadow: none;
  position: absolute;
  padding: 0 20px;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1200px) {
  header#main-header.full div#main-header-landing #main-heder-quicklinks {
    display: none;
  }
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper {
  display: block;
  float: left;
  padding: 10px 0;
  font-weight: 100;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper .link {
  border-right: 1px solid #eee;
  padding: 20px;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper:hover {
  background: #fafafa;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper:last-child .link {
  border-right: none;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper {
  display: block;
  padding: 10px 0;
  float: right;
  font-weight: 100;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper .arrow-continue {
  padding: 20px;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper .arrow-continue .fa {
  margin-left: 20px;
}
header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper:hover {
  background: #fafafa;
}
header#main-header.full #header-main-logo {
  background-image: url("/images/logos/full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 40px auto;
  height: 30vh;
}
header#main-header.small {
  overflow: hidden;
  height: 240px;
}
header#main-header.small #main-header-nav-bg {
  height: 240px;
}
header#main-header.small div#main-header-landing {
  height: 240px;
}
header#main-header.small div#main-header-landing .container {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 84px;
  height: 240px;
  z-index: 2;
}
header#main-header.small div#main-header-landing .container h1 {
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0 .6rem 200px;
}
@media (max-width: 701px) {
  header#main-header.small div#main-header-landing .container h1 {
    font-size: 1.6rem;
    padding: 0 0 0 120px;
  }
}
header#main-header.small div#main-header-landing .container h2 {
  display: none;
}
header#main-header.small div#main-header-landing .container p {
  padding: 0 0 0 200px;
}
@media (max-width: 701px) {
  header#main-header.small div#main-header-landing .container p {
    padding: 0 0 0 120px;
  }
}
header#main-header.small div#main-header-landing #main-heder-quicklinks {
  display: none;
}
header#main-header.small #header-main-logo {
  background-image: url("/images/logos/full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: left;
  height: 140px;
  width: 170px;
}
@media (max-width: 701px) {
  header#main-header.small #header-main-logo {
    width: 100px;
  }
}
header#main-header .impact {
  height: 100%;
}
header#main-header .gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,1d3d86+100&amp;0+80,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(74, 100, 158, 0) 80%, #1d3d86 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(74, 100, 158, 0)), color-stop(100%, #1d3d86));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(74, 100, 158, 0) 80%, #1d3d86 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(74, 100, 158, 0) 80%, #1d3d86 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(74, 100, 158, 0) 80%, #1d3d86 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(74, 100, 158, 0) 80%, #1d3d86 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1d3d86', GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  opacity: .3;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
@media (max-width: 992px) {
  #header-nav-aspirant,
  #header-nav-graduate {
    display: none !important;
  }
}
aside#sidebar {
  background: #fafafa;
  position: fixed;
  display: none;
  float: left;
  overflow-y: scroll;
  height: 100%;
  width: 260px;
}
aside#sidebar #main-sidebar-search {
  background: #1d3d86;
  color: #fff;
  height: 56px;
  -webkit-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}
aside#sidebar #main-sidebar-search .fa {
  padding: 16px 0 17px 0;
  position: absolute;
  right: 16px;
  top: 0;
  font-size: 1.4rem;
}
aside#sidebar #main-sidebar-search-box {
  background: none;
  border: none;
  padding: 15px 20px;
  height: 56px;
  width: 100%;
}
nav#main-sidebar-nav .sidebar-nav-list > li {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e1e1e1;
}
nav#main-sidebar-nav .sidebar-nav-list > li:hover {
  background: #eee;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d5d5d5;
}
nav#main-sidebar-nav .sidebar-nav-list > li.active {
  background: transparent;
  border: none;
  border-top: 1px solid #ffffff;
}
nav#main-sidebar-nav .sidebar-nav-list > li.active a {
  border-bottom: 1px solid #e1e1e1;
}
nav#main-sidebar-nav .sidebar-nav-list > li.active .nesting-menu-wrapper {
  display: block;
}
nav#main-sidebar-nav .sidebar-nav-list > li > a {
  display: block;
  padding: 14px 20px;
}
nav#main-sidebar-nav .sidebar-nav-list > li > a:after {
  content: "\f105";
  display: inline-block;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  padding: 0 0 0 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav#main-sidebar-nav .sidebar-nav-list > li > a:hover {
  text-decoration: none;
}
nav#main-sidebar-nav .sidebar-nav-list > li.parent > a:after {
  content: "\f107";
}
nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper {
  display: none;
}
nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li a {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e1e1e1;
  display: block;
  padding: 14px 20px 14px 30px;
}
nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li .lvl-2 {
  display: none;
}
nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li .lvl-2 a {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e1e1e1;
  display: block;
  padding: 14px 20px 14px 40px;
}
@media (min-width: 701px) {
  aside#sidebar {
    display: none;
  }
}
@media (max-width: 700px) {
  body.sidebar {
    overflow: hidden;
  }
  body.sidebar #lord-wrap {
    overflow: hidden;
    width: 100vw;
  }
  body.sidebar aside#sidebar {
    display: block;
  }
  body.sidebar #page {
    background: #fff;
    position: relative;
    margin-left: 260px;
    z-index: 5;
    width: 100vw;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  body.sidebar #page-overlay {
    background: rgba(128, 128, 128, 0.25);
    margin-left: 260px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2000;
  }
}
footer#main-footer {
  background: #1d3d86;
  color: #fff;
}
footer#main-footer a {
  color: #fff;
}
footer#main-footer a:hover {
  color: #fff;
}
footer#main-footer h5 {
  font-size: 24px;
  padding-bottom: 1rem;
}
footer#main-footer .col {
  padding: 20px;
}
footer#main-footer .col p {
  line-height: 150%;
  padding: .5rem 0;
}
footer#main-footer .col .my-log-temp {
  float: right;
}
footer#main-footer .col .contacts li {
  line-height: 150%;
  padding: .5rem 0;
}
footer#main-footer .col .contacts li strong {
  font-weight: bold;
}
footer#main-footer .col .footer-social-links {
  font-size: 2rem;
}
footer#main-footer .col .footer-social-links a.social-link {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
}
footer#main-footer .col .footer-social-links a.social-link:hover {
  background: #fff;
  color: #1d3d86;
}
footer#main-footer .col img {
  padding-top: 20px;
}
footer#main-footer #footer-map {
  background: url('/images/map.png') center no-repeat;
  height: 60vh;
  overflow: hidden;
  /*margin-left: -15px;
    margin-right: -15px;*/
  width: 100%;
}
footer#main-footer #footer-map #footer-map-overlay {
  background: rgba(29, 61, 134, 0.5);
  padding-top: 25vh;
  height: 60vh;
  width: 100%;
}
footer#main-footer #footer-map #footer-map-popup {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
footer#main-footer #footer-map #footer-map-popup:before {
  content: '';
  display: block;
  position: absolute;
  margin: -20px 0 0 -44px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 46px 24px 46px 0;
  border-color: transparent #ffffff transparent transparent;
  -webkit-transform: rotate(360deg);
}
#lord-wrap {
  overflow: hidden;
}
#page {
  overflow: hidden;
}
.biw {
  font-size: 20px;
  font-weight: bold !important;
}
.biw * {
  background-image: none !important;
}
.biw img {
  display: none;
}
.biw header#main-header {
  background: #fff;
}
.biw header#main-header #header-nav-bg-wrapper {
  display: none;
}
.biw header#main-header nav#main-header-nav {
  background: #fff;
}
.biw header#main-header nav#main-header-nav #top-logo {
  display: none;
}
.biw header#main-header nav#main-header-nav .header-nav-list {
  color: #000;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li.parent:hover,
.biw header#main-header nav#main-header-nav .header-nav-list > li.parent.active {
  background: #fff;
  color: #000;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li:hover,
.biw header#main-header nav#main-header-nav .header-nav-list > li.active {
  background: #fff;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li:hover > a,
.biw header#main-header nav#main-header-nav .header-nav-list > li.active > a {
  color: #000;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li > a {
  color: #000;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li > a:hover {
  text-decoration: none;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li > a:hover .borderland {
  border-bottom: none;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li > a.active .borderland {
  border-bottom: none;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li > a .borderland {
  border-bottom: 3px solid #000;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper {
  display: none;
  left: 0;
  position: absolute;
  min-height: 400px;
  clip: rect(auto, auto, 1000px, auto);
  width: 100%;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu {
  background: #fff;
  min-height: 300px;
  padding: 0;
  overflow: hidden;
  max-height: 80vh;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 2px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 {
  background: #eee;
  padding: .3rem 0;
  float: left;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  max-height: 80vh;
  max-width: 20%;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li {
  color: #1d3d86;
  display: block;
  position: relative;
  padding: .7rem 1rem;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li:hover {
  background: #fff;
  z-index: 5;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu ul.lvl-1 li ul.lvl-2 {
  display: none;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub {
  margin-left: 20%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  max-height: 80vh;
  width: 80%;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .default-message {
  color: #1d3d86;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  height: 460px;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .nested-sub-block {
  position: absolute;
  height: 100%;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full {
  padding: .3rem 0;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full li {
  color: #1d3d86;
  display: block;
  position: relative;
  padding: .7rem 1rem;
}
.biw header#main-header nav#main-header-nav .header-nav-list > li .nesting-menu-wrapper .nesting-menu .nesting-sub .lvl-2-full li:hover {
  background: #fff;
  z-index: 5;
}
.biw header#main-header nav#main-header-nav #header-nav-open-button-wrap {
  position: relative;
  float: left;
  padding: .8rem 0 .8rem 20px;
  z-index: 10;
}
@media (min-width: 701px) {
  .biw header#main-header nav#main-header-nav #header-nav-open-button-wrap {
    display: none;
  }
}
.biw header#main-header nav#main-header-nav #header-nav-small-logo {
  display: none;
}
.biw header#main-header nav#main-header-nav #header-nav-open-button {
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  position: relative;
  float: left;
  padding: .4rem 1rem;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.biw header#main-header nav#main-header-nav #header-search {
  color: #000;
  float: right;
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 700px) {
  .biw header#main-header nav#main-header-nav #header-search {
    display: none;
  }
}
.biw header#main-header nav#main-header-nav #header-search i {
  padding: 16px 0 17px 0;
  position: absolute;
  right: 16px;
}
.biw header#main-header nav#main-header-nav #header-search-input {
  background: bottom left linear-gradient(#ffffff, #ffffff) no-repeat, bottom center linear-gradient(#ffffff, #ffffff) repeat-x, bottom right linear-gradient(#ffffff, #ffffff) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 17px;
  padding: 20px 60px 15px 20px;
  width: 240px;
}
.biw header#main-header nav#main-header-nav #header-search-input:focus {
  outline: none;
  background: bottom left linear-gradient(#ed7d1c, #ed7d1c) no-repeat, bottom center linear-gradient(#ed7d1c, #ed7d1c) repeat-x, bottom right linear-gradient(#ed7d1c, #ed7d1c) no-repeat;
  border-bottom: 2px solid #ED7D1C;
}
@media screen and (max-width: 1200px) {
  .biw header#main-header nav#main-header-nav #header-search-input {
    display: none;
  }
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode {
  border: 1px solid #000;
  color: #000;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode:hover {
  background-color: #000;
  color: #fff;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode.active ul {
  display: block;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode ul {
  background-color: #fff;
  border: 1px solid #fff;
  display: none;
  color: #1d3d86;
  position: absolute;
  top: -1px;
  left: -1px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode ul li {
  padding: .4rem .7rem;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode ul li:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 5px;
  -moz-background-clip: padding;
  border-top-right-radius: 5px;
  background-clip: padding-box;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode ul li:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 5px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 5px;
  background-clip: padding-box;
}
.biw header#main-header nav#main-header-nav #main-header-modes .mode ul li:hover {
  background-color: #1d3d86;
  color: #fff;
}
.biw header#main-header.full div#main-header-landing {
  height: 100vh;
}
.biw header#main-header.full div#main-header-landing .container {
  color: #000;
  text-shadow: none;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks {
  background: #fff;
  bottom: 0;
  color: #000;
  font-size: 1.6rem;
  text-shadow: none;
  position: absolute;
  padding: 0 20px;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1200px) {
  .biw header#main-header.full div#main-header-landing #main-heder-quicklinks {
    display: none;
  }
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper {
  display: block;
  float: left;
  padding: 10px 0;
  font-weight: 100;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper .link {
  border-right: 1px solid #eee;
  padding: 20px;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper:hover {
  background: #fafafa;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .link-wrapper:last-child .link {
  border-right: none;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper {
  display: block;
  padding: 10px 0;
  float: right;
  font-weight: 100;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper .arrow-continue {
  padding: 20px;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper .arrow-continue .fa {
  margin-left: 20px;
}
.biw header#main-header.full div#main-header-landing #main-heder-quicklinks .arrow-continue-wrapper:hover {
  background: #fafafa;
}
.biw header#main-header.full #header-main-logo {
  background-image: url("/images/logos/full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 40px auto;
  height: 30vh;
}
.biw header#main-header.small {
  overflow: hidden;
  height: 240px;
}
.biw header#main-header.small #main-header-nav-bg {
  height: 240px;
}
.biw header#main-header.small div#main-header-landing {
  height: 240px;
}
.biw header#main-header.small div#main-header-landing .container {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 84px;
  height: 240px;
  z-index: 2;
}
.biw header#main-header.small div#main-header-landing .container h1 {
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0 .6rem 200px;
}
.biw header#main-header.small div#main-header-landing .container h2 {
  display: none;
}
.biw header#main-header.small div#main-header-landing .container p {
  padding: 0 0 0 200px;
}
.biw header#main-header.small div#main-header-landing #main-heder-quicklinks {
  display: none;
}
.biw header#main-header.small #header-main-logo {
  display: none;
}
.biw header#main-header #main-heder-quicklinks {
  background: #fff;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.biw header#main-header #main-heder-quicklinks a {
  color: #000;
}
.biw header#main-header #main-heder-quicklinks .link-wrapper .link {
  border-right: 1px solid #000;
  padding: 20px;
}
.biw header#main-header #main-heder-quicklinks .link-wrapper:hover {
  background: #000 !important;
  color: #fff;
}
.biw header#main-header #main-heder-quicklinks .arrow-continue-wrapper:hover {
  background: #000 !important;
  color: #fff;
}
.biw header#main-header .gradient {
  display: none;
}
.biw footer#main-footer {
  background: #fff;
  color: #000;
}
.biw footer#main-footer a {
  color: #000;
}
.biw footer#main-footer a:hover {
  color: #000;
}
.biw footer#main-footer .col .footer-social-links a.social-link {
  color: #000;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
}
.biw footer#main-footer .col .footer-social-links a.social-link:hover {
  background: #fff;
  color: #000;
}
.biw footer#main-footer #footer-map {
  background: url('/images/map.png') center no-repeat;
  height: 60vh;
  overflow: hidden;
  /*margin-left: -15px;
    margin-right: -15px;*/
  width: 100%;
}
.biw footer#main-footer #footer-map #footer-map-overlay {
  background: rgba(29, 61, 134, 0.5);
  padding-top: 25vh;
  height: 60vh;
  width: 100%;
}
.biw footer#main-footer #footer-map #footer-map-popup {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.biw footer#main-footer #footer-map #footer-map-popup:before {
  content: '';
  display: block;
  position: absolute;
  margin: -20px 0 0 -44px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 46px 24px 46px 0;
  border-color: transparent #ffffff transparent transparent;
  -webkit-transform: rotate(360deg);
}
.biw aside#sidebar {
  background: #fff;
}
.biw aside#sidebar #main-sidebar-search {
  background: #fff;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.biw nav#main-sidebar-nav .sidebar-nav-list {
  color: #000;
}
.biw nav#main-sidebar-nav .sidebar-nav-list a {
  color: #000;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li:hover {
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li > a {
  display: block;
  padding: 14px 20px;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li > a:after {
  content: "\f105";
  display: inline-block;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  padding: 0 0 0 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li > a:hover {
  text-decoration: none;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li.parent > a:after {
  content: "\f107";
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 {
  display: none;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li .lvl-2 {
  display: none;
}
.biw nav#main-sidebar-nav .sidebar-nav-list > li .nesting-menu-wrapper .nesting-menu .lvl-1 > li .lvl-2 a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
